{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>    

  <section>
    <header>   
      <div class="container">
        <div class="row">
          <h3>Query</h3>
        </div>
        
        <div class="row">
          <form method="POST">
            <input name="text">
            <input type="submit">
          </form>
        </div>

        {% if res_title is not none %}
          <div class="row">
           <h3>Result</h3>
           <a href='{{ res_url }}'>{{ res_title }}</a>
          </div>
        {% endif %}


      </div>     
    </header>
  </section>

</main>
</div>

{% endblock %}